.product-card {
  background: #fff;
  border-radius: 16px;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* ===== IMAGEN (MISMA LÓGICA QUE CATEGORY) ===== */
.product-image {
  width: 100%;
height: 70%;
  overflow: hidden;
  border-radius: 12px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ===== TEXTO ===== */
.product-name {
  margin-top: 0.8rem;
  font-size: 1.05rem;         /* apenas más chico que category-title */
  font-weight: 500;
  color: #1d1d1f;
}

.product-price {
  margin-top: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1d1d1f;
}

.product-stock {
  margin-top: 0.3rem;
  font-size: 0.85rem;
}

/* ===== STOCK ===== */
.in-stock {
  color: #1a7f37;
}

.out-stock {
  color: #e63946;
}